@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="GeneratePDF">Generate PDF</button>

@code {
    @using Syncfusion.Pdf;
    @using Syncfusion.Pdf.Graphics;
    @using System.IO;
    @inject Microsoft.JSInterop.IJSRuntime JS

    private void GeneratePDF()
    {
        //Create a new PDF document
        PdfDocument document = new PdfDocument();

        //Add a page to the document
        PdfPage page = document.Pages.Add();

        //Create PDF graphics for the page
        PdfGraphics graphics = page.Graphics;

        //Set the standard font
        PdfFont font = new PdfStandardFont(PdfFontFamily.Helvetica, 20);

        //Draw the text
        graphics.DrawString("Hello World!", font, PdfBrushes.Black, new Syncfusion.Drawing.PointF(0, 0));

        //Saving the PDF to the MemoryStream
        MemoryStream stream = new MemoryStream();

        document.Save(stream);
        document.Close(true);
        
        JS.SaveAs("Sample.pdf", stream.ToArray());

    }
}
